
    <body>
       
        <section class="about-section">
            <div class="content">
                <h2>Notre Héritage</h2>
                <p>Depuis des générations, la Maison d'Excellence incarne le summum du luxe et du savoir-faire artisanal. Chaque création est une œuvre d'art, reflet de notre engagement envers la perfection.</p>
            </div>
            <div class="image-gallery">
                <img src="lux.jpeg" alt="Produit de luxe 1">
            <img src="lux2.jpeg" alt="Produit de luxe 2">
            <img src="lux3.jpeg" alt="Produit de luxe 3">
            </div>
        </section>
        <section class="commitment-section">
            <h2>Notre Engagement</h2>
            <p>Nous sélectionnons les matériaux les plus précieux et adoptons des pratiques durables pour offrir des produits d'une qualité inégalée, tout en respectant notre planète.</p>
        </section>
        
    </body>