.parfum-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.parfum-card {
  width: 350px; /* Augmenter la largeur des cartes */
  height: 500px; /* Augmenter la hauteur des cartes */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.parfum-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.parfum-image {
  width: 100%; /* Utiliser la largeur complète de la carte */
  height: 300px; /* Agrandir les images */
  object-fit: cover; /* Garder les proportions de l'image */
  border-bottom: 1px solid #ddd;
}

.parfum-name {
  margin: 10px 0 5px;
  font-size: 1.4rem; /* Agrandir légèrement la police */
  color: #333;
  flex: 0;
}

.parfum-marque {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  flex: 0;
}

.details-button {
  margin: 10px auto; /* Centrer horizontalement */
  display: inline-block;
  padding: 10px 20px; /* Ajuster la taille du bouton */
  font-size: 1.1rem; /* Agrandir la police */
  font-weight: bold;
  color: #ffffff;
  background-color: #9e99a0;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  
}

.details-button:hover {
  background-color: #b3a0c5;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.details-button:active {
  background-color: #1e8449;
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
