<div class="parfum-container">
  <div class="parfum-card" *ngFor="let parfum of parfums">
    <img [src]="parfum.photoPath" alt="{{ parfum.nom }}" class="parfum-image" />
    <h3 class="parfum-name">{{ shortenName(parfum.nom) }}</h3>
    <div class="actions">
      <button class="btn-icon-add-to-cart" *ngIf="isOnline$ | async; else redirectToLogin" (click)="addToCart(parfum.id, 1)">
        <i class="fas fa-cart-plus"></i>
      </button>
      <ng-template #redirectToLogin>
        <button routerLink="/signin" class="btn-icon-add-to-cart"><i class="fas fa-cart-plus"></i></button>
      </ng-template>
    </div>
    <p class="parfum-marque">{{ parfum.marque?.nom }}</p>
    <p>{{ parfum.prix }} $</p>
    <button [routerLink]="['/product', 'parfum', parfum.id]" [state]="parfum" class="details-button">
      Voir les détails
    </button>
  </div>
</div>
