<carousel [interval]="3000" [noPause]="true" [showIndicators]="true">
  <slide>
    <div class="carousel-container">
      <img src="Beauty.jpeg" alt="Image 1" class="carousel-image" />
      <div class="carousel-overlay">
        <h1>The Ultimate Shopping Experience</h1>
      </div>
    </div>
  </slide>
  <slide>
    <div class="carousel-container">
      <img src="b7.jpg" alt="Image 2" class="carousel-image" />
      <div class="carousel-overlay">
        <h1>Over 100 luxury brands</h1>
      </div>
    </div>
  </slide>
  <slide>
    <div class="carousel-container">
      <img src="b10.jpg" alt="Image 3" class="carousel-image" />
      <div class="carousel-overlay">
        <h1>New Shoes arrivals</h1>
      </div>
    </div>
  </slide>
</carousel>
